*{
    background-color: black;
}
p{
    color: blanchedalmond;
    font-family: sans-serif,serif;
}
a{
    color: rgb(255, 255, 255);
    border-bottom: solid 1px rgb(0, 0, 0);
}
.H1{
    border-style: none;
    height: 50px;
    max-width: 1200px;
    width: 100%;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: aliceblue;
    text-align: center;
    margin-bottom: 20px;
    padding:20px;
}
.photo{
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 10px;
    display: inline;
}
.photo1{
    margin-bottom: 50px;
    margin-left: 20px;
    display: inline;
}
.LanDiscription{
    display: inline;
    border-style: none;
    max-width:500px;
    width: 100%;
    height: 350px;
}
.photoes{
    margin-bottom:50px ;
    margin-left: 20px;
}